body{
background: url(images/fondo.png);

}


.carousel-inner img {  
  margin: auto;

}


.carousel .item {
  height: 40rem;

}

.item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
}

.bg-color-logo {
  background-color:white;
} 
 
 

.footer2{ 
  background-color: #b56cb3;
  padding: 30px 20px;
  margin: 0;
  margin-top: 30px;
  color: black;
  text-decoration: none;
  font-size: 30px;
  border-radius: 2px;
 }
.footer2 a{
  color:black;
}
 
.footer2 a:hover { 
  color:#fff;
 } 

 

.img-card {
  width: 200px;
  height: 200px;
}


.navbar-eva {
    justify-content: space-between;
      margin: 5px;
    border-radius: 4px;
    box-shadow: 3px 3px 5px #988686;
    background-color: #b3b1b121;
    color: black;
    padding: 10px;
    box-sizing: border-box;

}
.navbar-collapse{
  flex-grow: 0;
}
.navbar {
    display: flex;
    align-items: center;
    }

    .navbar-eva .navbar-brand img {
  width: 85px;
}

.eva-card {
    overflow: hidden;
    height: auto;
    background: #b3b1b121;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 10px 0px;
}
.dropdown-item{
  color: purple;
}


.carousel-control-prev-icon {
    background-color: #925561;
}

.carousel-control-next-icon {
    background-color: #925561;
}

.wpb_wrapper{
    justify-content: space-between;
      margin: 5px;
    border-radius: 2px;
    box-shadow: 1px 1px 1px ;
    background-color: #98727221;
    color: black;
    padding: 10px;
    box-sizing: border-box;

}

